<section id="{{section.link}}">

  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
  {% if forloop.first %}
  <div>
  {% elsif thecycle == 'odd' %}
  <div class="content-section-a">
  {% else %}
  <div class="content-section-b">
  {% endif %}
    {% if section.sectionlayout %}
      {% assign cards = site[section.cards] %}
      {% include {{ section.sectionlayout | append: '.html' }} %}
    {% else %}
    <div class="container content-section text-center">
      {% include standard_section.html %}
    </div>
    {% endif %}
  </div>
</section>
