<!DOCTYPE html>
<html lang="{{ site.lang }}">
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="page-background">
      <div class="page-background" style="background: no-repeat url(/assets/{{page.titleimage}});">
        <img src="/assets/{{page.titleimage}}">
	<div class="page-background-content">
          <div class="container">
            <div class="row">
              <div class="col-md-10 offset-md-1">
                <h1>{{ page.title }}</h1>
                <h2>{{ page.subTitle }}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          {{ page.content }}
        </div>
      </div>
    </div>
    {% include footer.html %}
    {% include js.html %}
  </body>
</html>
